#topBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    
    width: auto;
    
    }

/*#topBar, li {
    display: inline;
}*/

.HorizItem{
  padding: 20px;
text-align: center;

}

iframe{
  margin-top: 5%;
}

.nav {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
}

body {
  display: grid;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 10px;
}

section {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

aside {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.smallgrid {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.video-recommendation {
  margin-right: 10rem;
}

.video-player {
  margin-left: 10rem;
}

